<br>
<div class="container">
    <div class="row">
        <div class="col-7"></div>
        <div class="col">
            <div class="container" style="border: 2px solid rgb(240, 234, 234); border-radius: 10px;">
                <div class="row mt-3">

                    <div class="col">
                        <br>
                        <label for="formGroupExampleInput2" class="form-label"><b>Email</b></label>
                        <input formControlName="email" type="email" class="form-control" id="formGroupExampleInput2"
                            placeholder="Enter Email/Mobile number">
                        <div class="text-danger"
                            *ngIf="myform.controls['email'].touched && myform.controls['email'].invalid ">
                            <p *ngIf="myform.controls['email'].errors?.['required']"><b>Email is required</b></p>
                            <p *ngIf="myform.controls['email'].errors?.['email']"><b>Please enter valid Email</b>
                            </p>
                            <p *ngIf="myform.controls['email'].errors?.['minlength']"><b>Email min length 4
                                    character is required</b></p>
                        </div>
                    </div>
                </div>

                <div class=" row mt-3">
                    <div class="col">
                        <label for="formGroupExampleInput2" class="form-label"><b>Password</b></label>
                        <input formControlName="password" type="password" class="form-control"
                            id="formGroupExampleInput2" placeholder="Enter Password">
                        <div class="text-danger"
                            *ngIf="myform.controls['password'].touched && myform.controls['password'].invalid">
                            <p *ngIf="myform.controls['password'].errors?.['required']"><b>Please Enter Password</b>
                            </p>
                            <p *ngIf="myform.controls['password'].errors?.['minlength']"><b>Min length should 5
                                    char</b></p>
                            <p *ngIf="myform.controls['password'].errors?.['maxlength']"><b>Max length should 7
                                    char</b></p>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <a href="#" target="_blank" style="float: right; text-decoration: none"><b>Forgot
                                password?</b></a>
                    </div>

                    <div>
                        <div class="row mt-3">
                            <div class="col">
                                <div class="_1Ijv5h">By continuing, you agree to Flipkart's
                                    <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.
                                </div>
                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-success">Login</button>
                                </div>

                            </div>
                            <div>

                                <div class="row mt-3">
                                    <label style="text-align: center;">
                                        New to Flipkart? Register (
                                        <a href="/register-student" target="_blank"
                                            style="text-decoration: none;"><b>Customer</b></a> /
                                        <a href="/register-employer" target="_blank"
                                            style="text-decoration: none;"><b>Empolyee</b></a>)
                                    </label>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>